# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
crash.log
terraform.tfstate*

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
*.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/
